* {
    background-color: transparent;
    background: transparent;
    
    font-family: Segoe UI;
    font-size: 18px;
    color: #e5e7eb;
}

QTabWidget::pane,QLineEdit,QComboBox,QSpinBox,QTextEdit,QListWidget  {
    border: 1px solid rgba(255, 215, 0, 0.6);}

QTabWidget::pane,QLineEdit,QComboBox,QSpinBox,QTextEdit,QListWidget,QMainWindow,#logo_inicio {
    background: rgba(0, 0, 0, 0.6);}

QLabel {background: transparent;}
QLineEdit{border-radius: 25%;}

QTabBar::tab {
    border-image: url(utils/btn_label_bg.png) 0 0 0 0 stretch stretch;
    border-radius: 4px;
    padding: 8px;
}

QTabBar::tab:selected {
    border-image: url(utils/input_bg.png) 0 0 0 0 stretch stretch;
    font-weight: bold;
    color: black;
}

QMainWindow {border-image: url(utils/background.png) 0 0 0 0 stretch stretch;}

QPushButton {
    border-image: url(utils/btn_label_bg.png) 0 0 0 0 stretch stretch;
    border: 1px solid #666;
    border-radius: 4px;
    padding: 6px;
}

QPushButton:hover {
    border-image: url(utils/input_bg.png) 0 0 0 0 stretch stretch;
    font-weight: bold;
    color: black;
}
